<!DOCTYPE html>
<html>
  <head>
    <title>Marly Spoon Recipes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <div class="logo">
          <a class="" href="https://marleyspoon.com/" alt="Marley Spoon">Marley Spoon Recipes</a>
        </div>
        <div class="navigation">
          <div class="navigation-item">
            <%= link_to("Recipes List", root_path, class: "#{current_page?(root_path) ? "active" : ""}") %>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
